/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Noto Sans HK", serif;
}

body {
  background: #C0C2E9;
}
body h1 {
  background-color: #6B739E;
  color: #FFF;
  padding: 18px 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

.weather-input {
  width: 550px;
}
.weather-input h3 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}
.weather-input input {
  width: 100%;
  height: 46px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0 15px 0;
  font-size: 1.07rem;
  border-radius: 4px;
  border: 1px solid #CCC;
}
.weather-input .separator {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background-color: #555;
}
.weather-input .separator::before {
  content: "or";
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #555;
  background-color: #C0C2E9;
}
.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  border-radius: 4px;
  letter-spacing: 3px;
  background-color: #6B739E;
  transition: all 0.3s ease-in-out;
}
.weather-input button:hover {
  transform: scale(0.98);
}
.weather-input .location-btn {
  background-color: #444;
}

.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px 20px;
  border-radius: 8px;
  color: #FFF;
  background-color: #6B739E;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0862745098);
}

.current-weather .details {
  display: flex;
  align-items: center;
  gap: 30px;
}
.current-weather .details h2 {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5;
}
.current-weather .details h4 {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.5;
  padding-left: 20px;
}
.current-weather .details h4::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 40px;
  background: #999;
}
.current-weather .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h4 {
  margin-top: -10px;
  text-align: center;
}

.days-forecast .forecast-title {
  font-size: 1.35rem;
  font-weight: bold;
  color: #444;
  margin: 25px 0 20px;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.days-forecast .weather-cards .card {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFF;
  background-color: #7590C2;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0862745098);
}
.days-forecast .weather-cards .card h2 {
  font-size: 1.1rem;
  font-weight: bold;
}
.days-forecast .weather-cards .card img {
  max-width: 70px;
  margin-left: -15px;
  margin-bottom: -10px;
}

@media screen and (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .days-forecast .weather-cards {
    flex-wrap: wrap;
  }
  .days-forecast .weather-cards .card {
    width: calc(25% - 15px);
  }
}
@media screen and (max-width: 1200px) {
  .weather-data .current-weather .details {
    gap: 10px;
  }
  .weather-data .current-weather .details h2 {
    font-size: 1rem;
  }
  .weather-data .current-weather .details h4 {
    font-size: 1rem;
  }
  .days-forecast .weather-cards .card {
    width: calc(33.3333333333% - 15px);
  }
}
@media screen and (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-data .current-weather {
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .days-forecast .weather-cards .card {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 780px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data .current-weather .details h2 {
    font-size: 0.9rem;
  }
  .weather-data .current-weather .details h4 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 530px) {
  .weather-data .current-weather .details {
    flex-direction: column;
    align-items: flex-start;
  }
  .weather-data .current-weather .details h2 {
    text-align: start;
    font-size: 0.9rem;
  }
  .weather-data .current-weather .details h4 {
    padding: 0;
    font-size: 0.9rem;
  }
  .weather-data .current-weather .details h4::before {
    content: none;
  }
}/*# sourceMappingURL=style.css.map */